<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
      <div th:insert="navbar.html :: nav"></div>
      <div class="container">
            <h1>Pesquisar Funcionario</h1>
            <form id="searchForm" method="POST" action="/pesquisarFuncionario">
                <input type="text" name="cpfOrName" id="cpfOrName" placeholder="Digite CPF ou Nome" maxlength="50" required>
                <button type="submit">Pesquisar</button>
            </form>
            <!-- Verifica se a mensagem está presente e a exibe -->
            <div th:if="${mensagem}" th:text="${mensagem}" style="color: red;"></div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>